html {
  background-color: #121212; /* Dark background color */
  background-image: -webkit-linear-gradient(65deg, #000000 50%, #121212 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
  color: #FFFFFF; /* Light text color */
}

h1 {
  color: #FFFFFF;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #333333; /* Darker background color */
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

/* Make list items pill-shaped */
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #555555; /* Darker border color */
  border-radius: 35px; /* Half of the item height */
  overflow: hidden;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #FFFFFF;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  color: #FFFFFF;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: #888888; /* Lighter placeholder color */
  opacity: 0.7;
}

footer {
  color: #888888; /* Lighter text color */
  text-align: center;
}
